body 
            {
              background-color: #b8b8b8;
            }
            header 
            {
              text-align: center;
              padding: 3px;
              background-color: #000000;
              color: white;
            }
            footer
            {
              text-align: center;
              padding: 3px;
              background-color: #000000;
              color: white;
            }
            nav
            {
              text-align: center;
              background-color: #888888;
              color: white;
            }
            h1
            {
              text-align: left;
              color: #000000;
            }
            h2
            {
              text-align: left;
              color: #000000;
            }
            li
            {
              text-align: left;
              color: #000000;
            }
            h1.center
            {
              text-align: center;
              color: #fcfcfc;
              font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            img.rightfloat
            {
                width: 40%;
                padding-left: .5rem;
                margin-left: .5rem;
                float: right;
            }